@font-face {
    font-family: 'YS Text';
    src: url('YS Text-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Druk Wide';
    src: url('Druk Wide Cyr Super.otf') format('opentype');
}

body {
    font-family: 'YS Text', Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Druk Wide', Arial, sans-serif;
    background-color: #42A663;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.header-left {
    font-size: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-right .button {
    background-color: white;
    color: #42A663;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Druk Wide', Arial, sans-serif;
}

.main {
    padding: 20px;
}

.buttons button {
    background-color: #42A663;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'YS Text', Arial, sans-serif;
}

#assessment-fields input, #assessment-fields textarea,
#review-status-fields input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'YS Text', Arial, sans-serif;
}

#generated-keys .keys {
    display: flex;
    flex-direction: column;
}

.key-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'YS Text', Arial, sans-serif;
}

.key-row input[type="text"] {
    width: 40%;
    font-size: 14px;
    font-family: 'YS Text', Arial, sans-serif;
}

.key-row .copy-button,
.key-row .copy-text-button {
    background-color: #42A663;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'YS Text', Arial, sans-serif;
}

.hidden {
    display: none;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #42A663;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'YS Text', Arial, sans-serif;
}

.notification.error {
    background-color: #EB4E44;
}

.footer {
    background-color: #42A663;
    padding: 10px 0;
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Druk Wide', Arial, sans-serif;
    color: white;
    font-size: 16px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 30s infinite linear;
    -moz-animation: scroll 30s infinite linear;
    animation: scroll 30s infinite linear;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}
